<h1>Order</h1>
<div class = "order">
  <% @order.line_items.each do |line_item| %>
  <% item = line_item.item %>
    <div class = "order__line_item">
      <div class="line_item">
        <%= image_tag item.image_url.url, class: "line_item-image" %>
        <div class="line_item-column">
          <div class = "line_item-name">
            <%= item.name %>
          </div>
          <div class="line_item-content">
            <%= item.content %>
          </div>
        </div>
        <div class="line_item-column">
          <div class="line_item-quantity" id="line_item-quantity-<%=line_item.id%>">
            수량 : <%= line_item.quantity %>개
          </div>
          <div class="line_item-amount" id="line_item-amount-<%=line_item.id%>">
            <%= item.price * line_item.quantity %>원
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="order__amount">
    총 결제 금액 : <%= @order.amount %>원
  </div>
</div>

<br>

<%= form_for(@order) do |f| %>
  <div class="field">
    <%= f.label :sender, "보내시는 분" %>
    <br>
    <%= f.text_field :sender, value: current_user.name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :receiver, "받으시는 분" %>
    <br>
    <%= f.text_field :receiver %>
  </div>
  <br>
   <div class="field">
    주소
    <br>
    <%= f.label :zipcode, "우편번호" %>
    <%= f.text_field :zipcode %>
    <br>
    <%= f.text_field :address1 %>
    <br>
    <%= f.text_field :address2 %>
  </div>
  <br>
   <div class="field">
    <%= f.label :phone, "휴대폰 번호" %>
    <br>
    <%= f.text_field :phone %>
  </div>
  <br>
  <div class="order__amount">
    총 결제 금액 : <%= @order.amount %>원
  </div>
  <br>
  <div class = "button">
    <%= f.submit '결제하기' %>
  </div>
<% end %>