<h1>Order</h1>

<%= form_for(@order) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <br>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <br>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <br>
  <div class="field">
    <%= f.label :image_url, 'Image' %>
    <%= f.file_field :image_url %>
  </div>
  <br>
  <div class = "button">
    <%= f.submit 'Post Items!' %>
  </div>
<% end %>