<p id="notice"><%= notice %></p>

<div class="item-image-frame">
    <%= image_tag @item.image_url.url, :class => "item-image" %>
</div>
<%= link_to  @user do %>
<div class = "item__user">
    <div class = "item__user__avatar-frame">
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar.url, :class => "item__user__avatar" %>
        <% else %>
          <%= image_tag "/images/profile.jpg", :class => "item__user__avatar" %>
        <% end %>
    </div>
    <div class = "item__user-column">
        <div class = "item__user-name">
            <%= @item.user.name %>
        </div>
        <div class = "item__user-address">
            <%= @item.user.address1 %>
        </div>
    </div>
</div>
<% end %>
<div class="item-column">
    <div class = "item__name">
        <%= @item.name %>
    </div>
    <div class = "item__price">
        <%= @item.price %>원
    </div>
</div>
<div class = "item__quantity">
    남은 수량 : <%= @item.quantity %>개
</div>
<div class = "item__content">
    <%= @item.content %>
</div>
<div class="item__button-tab">
<% if @item.user == current_user %>
    <%= link_to edit_item_path(@item), class: "item__update-button button" do  %>
            수정하기
    <% end %>
    <%= link_to  item_path(@item), method: :delete, class: "item__delete-button button" do %>
            삭제하기
    <% end %>
<% elsif current_user.present? %>
    <% if @line_item.blank? %>
        <%= link_to line_items_path(id: @item.id), method: :post, class: "item__cart-button button", id: "buy" do %>    
            장바구니에 담기
        <% end %>
    <% else %>
        <%= link_to line_item_path(@item), method: :delete, class: "item__cart-button button", id: "dontbuy" do %>    
            장바구니에서 빼기
        <% end %>
    <% end %>
    
<% end %>
</div>
