<p id="notice"><%= notice %></p>

<h1>My Cart</h1>


    <% if @line_items.blank? %>
        <div class = "no_element">
            장바구니가 비어있습니다.
        </div>
    <% else %>
        <div class = "line_items">
            <% @line_items.each do |line_item| %>
            <% item = line_item.item %>
                <div class="line_item">
                    <%= link_to destroy_in_cart_line_item_path(line_item), class: "line_item__delete-button", method: :delete do %>
                        <i class="fas fa-trash-alt"></i>
                    <% end %>
                    <%= image_tag item.image_url.url, class: "line_item-image" %>
                    <div class="line_item-column">
                        <div class = "line_item-name">
                            <%= item.name %>
                        </div>
                        <div class="line_item-content">
                            <%= item.content %>
                        </div>
                    </div>
                    <div class="line_item-column">
                        <%= link_to  change_qty_line_item_path(line_item, type: "minus"), class: "line_item-minus", id: "minus-#{line_item.id}", :remote => true do %>
                        -
                        <% end %>
                        <div class="line_item-quantity" id="line_item-quantity-<%=line_item.id%>">
                            수량 : <%= line_item.quantity %>개
                        <%= link_to  change_qty_line_item_path(line_item, type: "plus"), class: "line_item-plus", id: "plus-#{line_item.id}", :remote => true do %>
                        +
                        <% end %>
                        </div>
                        <div class="line_item-amount" id="line_item-amount-<%=line_item.id%>">
                            <%= item.price * line_item.quantity %>원
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="buy-tab">
            <div class="buy-tab__amount">
                <%= @order.amount %>원
            </div>
            <%= link_to edit_order_path(@order),class: "buy-tab__buy-button" do %>
                구매하기
            <% end %>
        </div>
    <% end %>




<br>